.pole {
  display: block;
  width: 6;
  height: 26px;
  border-radius: 10%;
  background-color: black;
}

.bottom{
  display: block;
  width: 26;
  height: 6px;
  border-radius: 10%;
  background-color: black;
}
