.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #96969b;
}
table {
    counter-reset: tableCount;
    table-layout: auto;
    width: 100%;
}
.counterCell:before {
    content: counter(tableCount);
    counter-increment: tableCount;
}


.buttongreen {
  background-color: #4CAF50;
  font-size: 24px;
  padding: 26px 16px;
  border-radius: 10%;
} /* Green */

.buttongray {
  background-color: #e7e7e7; color: black;
} /* Gray */


.spin {
}
@-webkit-keyframes spin {
  0% { -webkit-filter: blur(10px);}
  100% { -webkit-filter: blur(0px);}
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(2520deg);
    }
}
.spin.animated {
    -webkit-animation-name: spin;
    -webkit-font-smoothing: antialiased;

    -webkit-animation-duration: 3400ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
}

@keyframes messageanimation {
  from {color: red;}
  to {color: black;}
}

/* The element to apply the animation to */
.message {
  color: black;
  animation-name: messageanimation;
  animation-duration: 15s;
}

/* Container needed to position the button. Adjust the width as needed */
.containercup {
 position: relative;
 width: 60%;
}

/* Make the image responsive */
.containercup img {
 width: 100%;
 height: auto;
}

/* Style the button and place it in the middle of the container/image */
.containercup .btn {
 position: absolute;
 top: 0%;
 left: 0%;

 background-color: #ffffff;
 opacity: .4;
 width: 100%;
 height: 100%;
 border: none;
 border-radius: 5px;
}
/* Container needed to position the button. Adjust the width as needed */
.containerturner {
 position: relative;
 width: 100%;
}

/* Make the image responsive */
.containerturner img {
 width: 100%;
 height: auto;
}

/* Style the button and place it in the middle of the container/image */
.containerturner .btn {
 position: absolute;
 top: 0%;
 left: 0%;

 background-color: #ffffff;
 opacity: .4;
 width: 100%;
 height: 100%;
 border: none;
 border-radius: 5px;
}


.header-img {
  background-size: cover;
}


#marked {
  color: red;
  font-weight: bold;
}
.w {
  width: 550px;
}

.s {
  width: 100px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
}
#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}
@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}
