.join-component-button-area {
  flex:2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.join-component-button-area-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.join-component-button-area-button{
  flex:1;
  align-self: center;
}
