{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}



{% include "header.html" %}

{% block navbar %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dice.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

{% block content %}
<main>
  <div class="row ">
    <img alt="Dicecup" style="width:100%; height:auto;" src="{{ url_for('static',filename='image/cube.jpg') }}">
  </div>
</main>
{% endblock %}

{% block scripts %}
<script type=text/javascript src="{{url_for('static', filename='scripts/jquery-3.5.1.min.js') }}">
</script>
<script type=text/javascript src="{{url_for('static', filename='scripts/bootstrap.min.js') }}">
</script>
<script type=text/javascript src="{{url_for('static', filename='scripts/donate.js') }}">
</script>

<script>
  function startup(){
    donate();
  }
  startup();
</script>



{% endblock %}

{% block footer %}

<footer>
  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
  <div class="row col-xs-offset-1 col-md-offset-1">
    <div class="col-xs-6 col-md-3">
        <a id="donateBtn" href="#">Ein Bier an den Entwickler 🍺</a>
    </div>
    <div class="col-xs-5 col-md-2">
      <a target="_blank" href="{{ url_for('static',filename='html/impressum.html') }}"">
      Impressum</a>
    </div>
    <div class="clearfix visible-xs-block visible-sm-block"></div>
    <div class="col-xs-5 col-md-2">
      <a target="_blank" href= "{{ url_for('static',filename='html/datenschutz.html') }}"">
      Datenschutz</a>
    </div>
    <div class="col-xs-5 col-md-2">

      <a target="_blank" href= "https://www.instagram.com/tele_schocken/?hl=de">
      <i class="fab fa-instagram"></i> tele-schocken</a>
    </div>
    <div class="col-xs-6 col-md-3">
      <p>powerd by:
        <a target="_blank" href="https://coding-mission.de/">
          <picture>
            <img alt="coding-mission_logo" title="powerd by: coding-mission" style="width:32%; height:auto;" src="{{ url_for('static',filename='image/coding-mission_logo_web_farbe.svg') }}">
          </picture>
        </a>
      </p>
    </div>
  </div>
  <div class="row col-md-offset-1">
  <!-- The Modal -->
    <div id="donateModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span id="donateclose" class="close">&times;</span>
          <h2>Du willst dem Entwickler ein Bier ausgeben? 🍻</h2>
          <p>Wenn dir Tele-Schocken gefällt und du viele schöne Stunden damit verbracht hast würde ich mich über deine Unterstützung sehr freuen.</p>
          <p>Es sind dutzende Stunden in die Entwicklung geflossen und es fallen laufende Serverkosten an.</p>
          <p>Tele-Schocken ist für mich ein Hobby Projekt. Ich selber mag keine Werbung und will auch keine bunt blinkende Werbung schalten.</p>
          <p>Ich freue mich wirklich riesig über jeden noch so kleinen Betrag.</p>
        </div>
        <div class="modal-body">
          <div style="height:20px;" class="row col-md-offset-1 col-xs-offset-1">
          </div>
          <div style="height:40px;" class="row col-md-offset-1 col-xs-offset-1">
            <a target="_blank" href="https://paypal.me/Skill3t/1,3">Ein Kölsch 1,30€ 🍺 (paypal)</a>
          </div>
          <div style="height:40px;" class="row col-md-offset-1 col-xs-offset-1">
            <a target="_blank" href="https://paypal.me/Skill3t/4">Ein Weizen 4€ <h3 style="display:inline;">🍺</h3> (paypal)</a>
          </div>
          <div style="height:50px;" class="row col-md-offset-1 col-xs-offset-1">
            <a target="_blank" href="https://paypal.me/Skill3t/9">Eine Maß 9€ <h1 style="display:inline;">🍺</h1> (paypal)</a>
          </div>
          <div style="height:60px;" class="row col-md-offset-1 col-xs-offset-1">
            <a target="_blank" href="https://paypal.me/Skill3t/">Beliebiger Betrag (paypal)</a>
          </div>
          <div style="height:20px;" class="row col-md-offset-1 col-xs-offset-1">
          </div>
        </div>
      </div>
    </div>

  </div>

</footer>


{% endblock %}
