{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}



{% include "header.html" %}

{% block navbar %}
    <div class="row col-md-offset-1">
      <div class="col-md-12">
        <h3>Tele-Schocken Beta</h3>
      </div>
    </div>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dice.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

{% block content %}
<main>
  <div class="header-img">
    <img alt="Bone Dice 19th Century" title="Bone Dice 19th Century" style="width:100%; height:auto;" src="{{ url_for('static',filename='dice2.png') }}">
  </div>
</main>
{% endblock %}

{% block scripts %}
<script type=text/javascript src="{{
  url_for('static', filename='jquery-1.9.1.min.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='bootstrap.min.js') }}"></script>
{% endblock %}

{% block footer %}

<footer>
  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
  <div class="row col-md-offset-1">
    <div class="col-md-4">
      <p>Github: <a href="https://github.com/Skill3t/Tele-Schocken">
      Tele-Schocken</a></p>
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('static',filename='impressum.html') }}"">
      Impressum</a>
    </div>
    <div class="col-md-4">
      <a href= "{{ url_for('static',filename='datenschutz.html') }}"">
      Datenschutz</a>
    </div>
  </div>
</footer>


{% endblock %}
