{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}
    Welcom to Teleschocken
{% endblock %}
{% block navbar %}
    <div class="row" style="height:60px;">
    </div>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dice.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

{% block scripts %}
<script type=text/javascript src="{{
  url_for('static', filename='jquery-1.9.1.min.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='bootstrap.min.js') }}"></script>
{% endblock %}
