{% extends "base.html" %}


{% block content %}
{{ super() }}
<div id="joincontainer">
  <div class="row col-md-offset-1">
    <div class="col-md-10">
      <h2>Zum Beitreten Spielname angeben.</h2>
    </div>
  </div>

  <div class="row col-md-offset-1">
    <div class="col-md-3 " >
      <div class="input-group mb-6">
        <input id="Name" placeholder="Spielername" type="text" size="20" class="form-control" >
        <div class="input-group-btn">
          <button id="jointbtn" class="btn btn-primary btn-outline-secondary" type="button" onclick="joinGame()">Beitreten</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row col-md-offset-1">
  <div class="col-md-10">
    <h3 id="admin"></h3>
  </div>
  <div class="col-md-1">
      <a class="roundetb" id="faqBtn" href="#"><i class="fas fa-question"></i></a>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <div class="row">
      <div class="col-md-12">
        <h2>Spielerliste:</h2>
      </div>
    </div>
    <table class="table table-striped table-hover" >
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody id="player_tbody">
        {% for user in game.users %}
        <tr >
          <th class="counterCell" scope="row"></th>
            <td>
              {{ user.name }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>


<div class="row col-md-offset-1 col-md-10">
    <h3>Verteile diesen Link an alle Mitspieler:</h3>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-4" >
    <div class="input-group mb-6">
      <input id="link_input" type="text" size="80" class="form-control" value="/game_waiting/{{game.UUID}}">
      <div class="input-group-btn">
        <button onclick="coppy()" class="btn btn-outline-secondary" type="button">kopieren</button>
      </div>
    </div>
  </div>
</div>
<div class="row col-md-offset-1 admin_interface">
  <div class="col-md-9">
    <h3>Spiel starten (<b>Du kannst Spieler auch nachträglich hinzufügen</b>)</h3>
  </div>
</div>
<div class="row col-md-offset-1 admin_interface">
  <div class="col-md-9">
    <label for="stack_max">Anzahl Chips / Deckel wählen:</label>
    <select name="stack_max" id="stack_max" class="form-select">
     <option value="12">12</option>
     <option value="13" selected="selected">13 </option>
     <option value="15">15</option>
     <option value="21">21</option>
     <option value="24">24</option>
    </select>
  </div>
</div>
<div class="row col-md-offset-1 admin_interface">
  <div class="col-md-9">
    <label for="final">Willst du ein Finale spielen? (beta sende mir gerne euer Feedback via instagram oder <i class="fas fa-paper-plane" title="Feedback senden"></i> )</label>
    {% if game.play_final %}
      <input type="checkbox" id="final_cb" name="final" value="True" checked>
    {% else %}
      <input type="checkbox" id="final_cb" name="final" value="False">
    {% endif %}

  </div>
</div>
<div class="row col-md-offset-1 admin_interface">
  <div class="col-md-1" >
    <button class="btn btn-primary" id='startgame_id'onclick="startGame()" disabled>Starten</button>
    <div id="inline_button_text" >
      <h3>👈</h3>
    </div>
  </div>
</div>


<div class="row col-md-offset-1 col-md-10" >
    <p id="admin_id" hidden>{{ game.admin_user_id }}</p>
</div>
<div class="row col-md-offset-1 col-md-10" >
    <p id="UUID" hidden>{{game.UUID}}</p>
</div>



<div class="row col-md-offset-1">
<!-- The Modal -->
  <div id="faqModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span id="faqclose" class="close">&times;</span>
        <h2>Häufige Fragen</h2>
      </div>
      <div class="modal-body">
        <button class="accordion">Wie starte ich ein Spiel?</button>
        <div class="panel">
          <p>Wenn die gewünschten Spieler in der Spielerliste aufgetaucht sind, einfach auf den Button Starten klicken.</p>
          <p>Das Spiel startet dann automatisch für alle Mitspieler!</p>
          <p>Nur der Admin (derjenige der ein Spiel erstellt hat) kann dieses auch starten</p>
            <div class="col-md-11 col-md-offset-1 example_img">
              <picture>
                <img alt="FAQ Spiel Starten" style="width:80%; height:auto;" src="{{ url_for('static',filename='image/start_game.png') }}">
              </picture>
            </div>
        </div>
        <button class="accordion">Warum sehe ich keine Mitspieler?</button>
        <div class="panel">
          <p>Es werden nur die Mitspieler angezeigt die du eingeladen hast und die deiner Einladung gefolgt sind.</p>
          <p>Sobald jemand deinen link geöffnet hat und beigetreten ist taucht dieser in der Spielerliste auf.</p>
          <p>Kopiere den Link zur Einladung über den Button kopieren und verteile diesen per Mail oder Messanger deiner Wahl.</p>
          <div class="col-md-11 col-md-offset-1 example_img">
            <picture>
              <img alt="FAQ Mitspieler Einladen" style="width:80%; height:auto;" src="{{ url_for('static',filename='image/ShareLink.png') }}">
            </picture>
          </div>
        </div>
        <button class="accordion">Das Spiel hängt irgendwie, was kann ich tun?</button>
        <div class="panel">
          <p>Es ist irgendetwas schief gegangen beim letzten Update der Seite.</p>
          <p>Ich Arbeite an der Lösung</p>
          <p>Lade die Seite einmal neu (du bleibst im Spiel und es kann direkt weiter gehen).</p>
          <p>Ich bitte die Unanehmichkeit zu entschuldigen</p>
        </div>
      </div>
    </div>
  </div>
</div>


{% block footer %}
{{ super() }}
{% endblock %}

{% endblock %}
{% block scripts %}
{{ super() }}

<script type=text/javascript src="{{url_for('static', filename='scripts/faq.js') }}">
</script>
<script type=text/javascript src="{{url_for('static', filename='scripts/socket.io.js') }}">
</script>
<script type=text/javascript src="{{url_for('static', filename='scripts/jquery-3.5.1.min.js') }}">
</script>

<script>
  // https://www.w3schools.com/howto/howto_js_copy_clipboard.asp
  function coppy() {
  /* Get the text field */
  var copyText = document.getElementById("link_input");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /*For mobile devices*/
  /* Copy the text inside the text field */
  document.execCommand("copy");
}

  function joinGame(){
    var user = document.getElementById('Name');
    var game = document.getElementById('UUID');
    var uuid = game.innerHTML;
    // uuid = uuid.replace(/\s/g, '');
    // uuid = uuid.replace(/['"]+/g, '');
    uuid = uuid.replace(/^"(.+)"$/,'$1');
    var usernname = user.value;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/api/game/"+uuid+"/user");
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState == XMLHttpRequest.DONE) {
        var res=JSON.parse(xhttp.responseText);
        if (xhttp.status != 200){
          alert('Fehler beim erzeugen: '+res.Message);
          location=location;
        }else{
          localStorage.setItem('name', usernname);
          for (num in res.User) {
            var juser = res.User[num];
            var name = juser['Name'];
            if (name == usernname){
              localStorage.setItem('id', juser['Id']);
            }
          }
          var id = localStorage.getItem('id');
          window.location.href = "/game_waiting/"+uuid;
        }
      }
    }
    xhttp.send(JSON.stringify({name:usernname}));
  }

  function refreshGame(){
    location=location;
  }
  function startGame(){
    var name = localStorage.getItem('name');

    var game = document.getElementById('UUID');
    var gameid = game.innerHTML;
    gameid = gameid.replace(/^"(.+)"$/,'$1');
    var stack_max = document.getElementById("stack_max").value;

    var play_final_cb = document.getElementById('final_cb');
    var play_final = play_final_cb.checked;


    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/api/game/"+gameid+"/start");
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState == XMLHttpRequest.DONE) {
        if (xhttp.status != 201){
          try {
            var res=JSON.parse(xhttp.responseText);
            alert(''+res.Message);
          }
          catch (e) {
            alert('Allgemeiner Fehler');
          }
        }
      }
    }
    xhttp.send(JSON.stringify({stack_max:stack_max, play_final:play_final}));
  }

  function startup(){
    faq();
    var id = localStorage.getItem('id');
    var admin_el = document.getElementById('admin_id');
    var admin_id = admin_el.innerHTML;
    var setdamin = document.getElementById('admin');
    if (id != admin_id){
      var all_admin_elements = document.getElementsByClassName("admin_interface");
      for (let admin_element of all_admin_elements){
        admin_element.style.display = "none";
      }
    }

    if (id == admin_id){
      var joincontainer = document.getElementById('joincontainer');
        joincontainer.style.display = "none";
      var button = document.getElementById('startgame_id');
      button.disabled = false;
      var hand = document.getElementById('inline_button_text');
      hand.style.webkitAnimationName = 'run'; // you had a trailing space here which does NOT get trimmed

      setdamin.innerHTML = 'Du bist Admin. Bitte starten wenn alle Spieler in der Liste stehen.'
    }else{
      var button = document.getElementById('startgame_id');
      button.style.display = "none";
      var hand = document.getElementById('inline_button_text');
      hand.style.display = "none";
      setdamin.innerHTML = 'Bitte warte bis der Admin das Spiel startet.'
    }
  }
  startup();
</script>

<script type="text/javascript" charset="utf-8">
  // Use a "/game_waiting" namespace.
  // An application can open a connection on multiple namespaces, and
  // Socket.IO will multiplex all those connections on a single
  // physical channel. If you don't care about multiple channels, you
  // can set the namespace to an empty string.
  namespace = '/game';

  // Connect to the Socket.IO server.
  // The connection URL has the following format, relative to the current page:
  //     http[s]://<domain>:<port>[/<namespace>]
  const socket = io(namespace, {
    reconnection: true,             // whether to reconnect automatically
    reconnectionAttempts: Infinity, // number of reconnection attempts before giving up
    reconnectionDelay: 1000,        // how long to initially wait before attempting a new reconnection
    reconnectionDelayMax: 5000,     // maximum amount of time to wait between reconnection attempts. Each attempt increases the reconnection delay by 2x along with a randomization factor
    randomizationFactor: 0.5
  });
  // Event handler for new connections.
  // The callback function is invoked when a connection with the
  // server is established.
  socket.on('connect', function() {
      var game = document.getElementById('UUID');
      var gameid = game.innerHTML;
      gameid = gameid.replace(/^"(.+)"$/,'$1');
      socket.emit('join', {room: gameid});
  });

  socket.on('reload_game', function(game, cb) {
      if (game){
        var game_el = document.getElementById('UUID');
        var gameid = game_el.innerHTML;
        gameid = gameid.replace(/^"(.+)"$/,'$1');

        var id = localStorage.getItem('id');
        var res = game;
        var sate = res.State
        var table = document.getElementById('player_tbody');
        table.innerHTML = '';
        for (num in res.User) {
          var juser = res.User[num];

          // reload table data
          var tr = document.createElement('tr');
          var th = document.createElement('th');
          th.className = 'counterCell';
          th.scope = 'row';
          var td = document.createElement('td');
          td.innerHTML = juser['Name']
          tr.appendChild(th);
          tr.appendChild(td);
          table.appendChild(tr);

          if (juser['Id'] == id){
            var name = document.getElementById('Name');
            name.disabled = true;
            var btn = document.getElementById('jointbtn');
            btn.disabled = true;
          }
        }
        if (sate == 'started'){
          //alert('Spiel vom admin gestartet eine moment noch');
          window.location.href = "/game/"+gameid;
        }
      }
  });

</script>
{% endblock %}
