{% extends "base.html" %}

{% block content %}
{{ super() }}
<div id="joincontainer">
  <div class="row col-md-offset-1">
    <div class="col-md-12">
      <h2>Zum Beitreten Spielname angeben.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-1" >
      <div class="input-group mb-6">
        <input id="Name" placeholder="Spielername" type="text" size="20" class="form-control" >
        <div class="input-group-btn">
          <button id="jointbtn" class="btn btn-primary btn-outline-secondary" type="button" onclick="joinGame()">Beitreten</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row col-md-offset-1 col-md-11">
    <h3 id="admin"></h3>
</div>
<br>



<div class="row">

  <div class="col-md-3 col-md-offset-1">
    <div class="row">
      <div class="col-md-12">
        <h2>Spielerliste:</h2>
      </div>
    </div>
    <table class="table table-striped table-hover" >
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody id="player_tbody">
        {% for user in game.users %}
        <tr >
          <th class="counterCell" scope="row"></th>
            <td>
              {{ user.name }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
  <div class="col-md-7 col-md-offset-1">
    <div class="row">
      <div class="col-md-4">
        <h3>Erläuterung:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <ul>
          <li>Nicht mobil angepasst. Der größte Spielspaß besteht am Tablet oder PC / Laptop.</li>
          <li>Der Spieler, der das Spiel erzeugt ist auch die Bank und muss alle Chips verteilen (Dies ermöglicht flexible Regeln)!</li>
          <li>Wenn ein Zug vor dem dritten Würfeln beendet werden soll, bitte "Ende" klicken</li>
          <li>Zu jeden Zeitpunkt kann auf bzw. zu gedeckt werden.</li>
          <li>Rausgestellte Würfel sind aufgedeckt.</li>
          <li>Die erste und zweite Hälfte wird nicht mehr ausgespielt. (Wartezeit für die restlichen Spieler zu groß)</li>
          <li>Der Spieler der bei einer Runde bereits gewonnen hat (0 Chips), muss jedes Mal auf "Ende" klicken wenn er dran wäre (ermöglicht wieder Einwerfen).</li>
          <li>Der Code ist frei verfügbar. Wenn euch das Spiel gefällt liked es auf Github. Wenn ihr Anregungen habt oder Fehler findet meldet dies auch via Github.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row col-md-offset-1" id="admin_interface">
  <div class="col-md-9">
    <h3>Spiel starten (<b>Es kann kein Spieler mehr hinzu kommen</b>)</h3>
    <button class="btn btn-primary" id='startgame_id'onclick="startGame()" disabled>Starten</button>
  </div>
</div>
<div class="row col-md-offset-1 col-md-10">
    <h3>Verteile diesen Link an alle Mitspieler:</h3>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-4" >
    <div class="input-group mb-6">
      <input id="link_input" type="text" size="80" class="form-control" value="http://tele-schocken.de/game_waiting/{{game.UUID}}">
      <div class="input-group-btn">
        <button onclick="coppy()" class="btn btn-outline-secondary" type="button">kopieren</button>
      </div>
    </div>
  </div>
</div>



<div class="row col-md-offset-1 col-md-10" >
    <p id="admin_id" hidden>{{ game.admin_user_id }}</p>
</div>
<div class="row col-md-offset-1 col-md-10" >
    <p id="UUID" hidden>{{game.UUID}}</p>
</div>

<div class="row col-md-offset-1 col-md-6" style="height:90px;">

</div>

{% block footer %}
{{ super() }}
{% endblock %}

{% endblock %}
{% block scripts %}
{{ super() }}
<script>
  // https://www.w3schools.com/howto/howto_js_copy_clipboard.asp
  function coppy() {
  /* Get the text field */
  var copyText = document.getElementById("link_input");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /*For mobile devices*/

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  //alert("Copied the text: " + copyText.value);
}

  function joinGame(){
    var user = document.getElementById('Name');
    var game = document.getElementById('UUID');
    var uuid = game.innerHTML;
    // uuid = uuid.replace(/\s/g, '');
    // uuid = uuid.replace(/['"]+/g, '');
    uuid = uuid.replace(/^"(.+)"$/,'$1');
    var usernname = user.value;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/api/game/"+uuid+"/user");
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState == XMLHttpRequest.DONE) {
        var res=JSON.parse(xhttp.responseText);
        if (xhttp.status != 200){
          alert('Fehler beim erzeugen: '+res.Message);
          location=location;
        }else{
          localStorage.setItem('name', usernname);
          for (num in res.User) {
            var juser = res.User[num];
            var name = juser['Name'];
            if (name == usernname){
              localStorage.setItem('id', juser['Id']);
            }
          }
          var id = localStorage.getItem('id');
          window.location.href = "/game_waiting/"+uuid;
        }
      }
    }
    xhttp.send(JSON.stringify({name:usernname}));
  }

  function refreshGame(){
    location=location;
  }
  function startGame(){
    var name = localStorage.getItem('name');

    var game = document.getElementById('UUID');
    var gameid = game.innerHTML;
    gameid = gameid.replace(/^"(.+)"$/,'$1');
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/api/game/"+gameid+"/start");
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState == XMLHttpRequest.DONE) {
        var res=JSON.parse(xhttp.responseText);
        if (xhttp.status != 201){
          alert(''+res.Message);
        }
      }
    }
    xhttp.send(JSON.stringify({}));
  }

  function startup(){
    var id = localStorage.getItem('id');
    var admin_el = document.getElementById('admin_id');
    var admin_id = admin_el.innerHTML;
    var setdamin = document.getElementById('admin');
    if (id != admin_id){
      var x = document.getElementById("admin_interface");
      //Disable admin interface for none admins
      x.style.display = "none";
    }

    if (id == admin_id){
      var joincontainer = document.getElementById('joincontainer');
        joincontainer.style.display = "none";
      var button = document.getElementById('startgame_id');
      button.disabled = false;
      setdamin.innerHTML = 'Du bist Admin. Bitte starten wenn alle Spieler in der Liste stehen.'
    }else{
      setdamin.innerHTML = 'Bitte warte bis der Admin das Spiel startet.'
    }
    window.setInterval(function(){
      /// call your function here
      var game = document.getElementById('UUID');
      var gameid = game.innerHTML;
      gameid = gameid.replace(/^"(.+)"$/,'$1');
      var xhttp = new XMLHttpRequest();
      xhttp.open("GET", "/api/game/"+gameid);
      xhttp.setRequestHeader("Content-Type", "application/json");
      xhttp.onreadystatechange = function() {
        if (xhttp.readyState == XMLHttpRequest.DONE) {
          var res=JSON.parse(xhttp.responseText);
          var sate = res.State
          var table = document.getElementById('player_tbody');
          table.innerHTML = '';
          for (num in res.User) {
            var juser = res.User[num];

            // reload table data
            var tr = document.createElement('tr');
            var th = document.createElement('th');
            th.className = 'counterCell';
            th.scope = 'row';
            var td = document.createElement('td');
            td.innerHTML = juser['Name']
            tr.appendChild(th);
            tr.appendChild(td);
            table.appendChild(tr);

            if (juser['Id'] == id){
              var name = document.getElementById('Name');
              name.disabled = true;
              var btn = document.getElementById('jointbtn');
              btn.disabled = true;
            }
          }

          if (sate == 'started'){
            //alert('Spiel vom admin gestartet eine moment noch');
            window.location.href = "/game/"+gameid;
          }
        }
      }
      xhttp.send(JSON.stringify({}));

    }, 1000);
  }

  startup();


</script>
{% endblock %}
