{% extends "base.html" %}

{% block content %}
{{ super() }}

<div class="row col-md-offset-1 col-xs-offset-1">
  <div class="col-md-9 col-xs-7" style="text-align: center">
    <h2 class="message" id="Message"></h2>
  </div>
  <div class="col-md-1 col-xs-2">
      <a class="roundetb" id="faqBtn" href="#"><i class="fas fa-question" title="Fragen?"></i></a>
  </div>

</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-offset-1 col-md-2">
      <h3 id="StackChips_id">Chips: {{game.stack}}</h3>
    </div>
    <div class="clearfix visible-xs-block visible-sm-block"></div>
    <div class="col-xs-6 col-md-3">
      <h3 id="throw_id">Anzahl würfe:</h3>
      <p id="throw_number_id" hidden></p>
    </div>
    <div class="col-xs-6 col-md-3">
        <h3 id="waiting_id">Warten auf: {{game.moveName(game.move_user_id)}}</h3>
        <p id="UUID" hidden>{{game.UUID}}</p>
        <p id="admin_id" hidden>{{game.admin_user_id}}</p>
        <p id="first_user_id" hidden>{{game.first_user_id}}</p>
        <p id="first_user_dice_count_id" hidden>3</p>
    </div>
  </div>
</div>

<div class="row ">
  <div class="col-md-11 col-md-offset-1">
    <h2 id="ownuser">Spielen User:</h2>
  </div>
</div>
<div class="container-fluid">
  <div class="row ">
    <div class="col-xs-6 col-md-2 col-md-offset-1">
      <div class="col-xs-6 col-md-6 ">
        <div class="containerturner" id='startgame_id'>
         <img src="{{ url_for('static', filename = 'image/throw_the_dice.svg')}}" alt="throw the dice">
         <button id='btn_dice' onclick="dice()" class="btn" title="Würfeln">Würfeln</button>
         <p style="text-align: center">Würfeln</p>
        </div>
      </div>

      <div class="col-xs-1 col-md-2">
        <div class="row" style="white-space:nowrap">
          <button class="btn btn-primary" id='finishgame_id'onclick="finish()">Ende</button>
        </div>
        <div class="row" style="white-space:nowrap" id='set_passiv_div_id'>
          <input type="checkbox" title="Du wirst übersprungen bis die Runde ausgespielt ist" id="setpassivid"
            name="setpassivid" value="False" onchange="set_user_passiv(this)">
          <label for="setpassivid">Pause</label>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="col-xs-6 col-md-6">
        <div class="containercup">
         <img src="{{ url_for('static', filename = 'image/pulldiceup.svg')}}" alt="pull dice cup up" >
         <button onclick="pullup()" class="btn" title="Aufdecken">Aufdecken</button>
         <p style="text-align: center">Aufdecken</p>
        </div>
      </div>
      <div class="col-xs-6 col-md-6 ">
        <div class="containercup">
         <img src="{{ url_for('static', filename = 'image/pulldicedown.svg')}}" alt="pull dice cup down" >
         <button onclick="pulldown()" class="btn" title="Zudecken">Zudecken</button>
         <p style="text-align: center">Zudecken</p>
        </div>
      </div>
    </div>
    <div class="clearfix visible-xs-block visible-sm-block"></div>

    <div class="col-xs-12 col-md-3">
      <div class="row col-md-offset-1">
        <div class="col-xs-12 col-md-9 text-center">
          <p>Würfel für Becher wählen<br>Letzter Wurf muss aufgedeckt werden</p>
        </div>
      </div>
      <div class="clearfix visible-xs-block visible-sm-block"></div>
      <div class="row col-md-offset-1">
        <div class="col-xs-4 col-md-3 text-center">
          <input type="checkbox" id="dice1_cb" name="dice1" value="False" checked>
        </div>
        <div class="col-xs-4 col-md-3 text-center">
          <input type="checkbox" id="dice2_cb" name="dice2" value="False" checked>
        </div>
        <div class="col-xs-4 col-md-3 text-center">
          <input type="checkbox" id="dice3_cb" name="dice3" value="False" checked>
        </div>
      </div>
      <div class="clearfix visible-xs-block visible-sm-block"></div>
      <div class="row col-md-offset-1">
        <div class="col-xs-4 col-md-3">
          <div class="text-center" id="dice1_v">
          </div>
        </div>
        <div class="col-xs-4 col-md-3">
          <div class="text-center" id="dice2_v">
          </div>
        </div>
        <div class="col-xs-4 col-md-3 text-center">
          <div class="text-center" id="dice3_v">
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix visible-xs-block visible-sm-block"></div>
    <div class="col-xs-12  col-md-3">
      <div id='2_6er' class="col-xs-6 col-md-6" hidden>
        <div class="containerturner">
         <img src="{{ url_for('static', filename = 'image/2_6er.svg')}}" alt="change two 6er against one 1er" >
         <button  onclick="turn1()" class="btn" title="6er drehen"></button>
        </div>
      </div>
      <div id='3_6er' class="col-xs-6 col-md-6" hidden>
        <div class="containerturner">
         <img src="{{ url_for('static', filename = 'image/3_6er.svg')}}" alt="change three 6er against two 1er" >
         <button  onclick="turn2()" class="btn" title="6er drehen"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="height:30px;" class="row col-md-offset-1 col-xs-offset-1">
</div>
<div class="row ">
</div>
<div class="row" data-example-id="striped-table">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <table class="table table-striped table-hover" >
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Chips</th>
          <th>Hälften</th>
          <th>Würfel1</th>
          <th>Würfel2</th>
          <th>Würfel3</th>
          <th>Würfe</th>
          {% if game.play_final %}
            <th>Runden</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for user in game.users %}
        <tr id="row{{user.id}}">
          <th class="counterCell" scope="row"></th>
            <td id="user{{user.id}}">
              {{user.user_name()}}
            </td>
            <td id="chips{{user.id}}">
              {{user.chips}}
            </td>
            <td id="first{{user.id}}">
            </td>
            <td id="dice1{{user.id}}">
            </td>
            <td id="dice2{{user.id}}">
            </td>
            <td id="dice3{{user.id}}">
            </td>
            <td id="Number_Dice{{user.id}}">
              {{user.number_dice}}
            </td>
            {% if game.play_final %}
              <td id="finalcount{{user.id}}">
                {{user.finalcount}}
              </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>

{% include "snippet/adminpanel.html" %}





{% include "snippet/game_play_faq.html" %}






{% block footer %}
  {{ super() }}
{% endblock %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script type=text/javascript src="{{url_for('static', filename='scripts/faq.js') }}">
  </script>
<script type=text/javascript src="{{url_for('static', filename='scripts/adminpanel.js') }}">
  </script>
<script type=text/javascript src="{{url_for('static', filename='scripts/socket.io.js') }}">
  </script>
<script type=text/javascript src="{{url_for('static', filename='scripts/jquery-3.5.1.min.js') }}">
  </script>

<script>

  function dice(){
    document.getElementById("btn_dice").disabled = true;
    setTimeout(function(){document.getElementById("btn_dice").disabled = false;},2500);
    var dice1_cb = document.getElementById('dice1_cb');
    dice1_cb.disabled = false;
    var dice2_cb = document.getElementById('dice2_cb');
    dice2_cb.disabled = false;
    var dice3_cb = document.getElementById('dice3_cb');
    dice3_cb.disabled = false;

    var v3_6er_button = document.getElementById('3_6er');
    v3_6er_button.hidden = true;
    var v2_6er_button = document.getElementById('2_6er');
    v2_6er_button.hidden = true;

    var dice1_cb = document.getElementById('dice1_cb').checked;
    var dice2_cb = document.getElementById('dice2_cb').checked;
    var dice3_cb = document.getElementById('dice3_cb').checked;

    var dice1_v = document.getElementById('dice1_v');
    var dice2_v = document.getElementById('dice2_v');
    var dice3_v = document.getElementById('dice3_v');

    var game = document.getElementById('UUID');
    var gameid = game.innerHTML;
    gameid = gameid.replace(/['"]+/g, '');
    var id = localStorage.getItem('id');

    var dicenumber = document.getElementById('Number_Dice'+id).innerHTML;
    dicenumber = parseInt(dicenumber);
    if (dicenumber == 0){
      if (!dice1_cb || !dice2_cb || !dice3_cb){
        alert('Beim ersten Wurf alle Würfel in den Becher Packen!');
        return
      }
    }
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/api/game/"+gameid+"/user/"+id+"/dice");
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState == XMLHttpRequest.DONE) {
        var res=JSON.parse(xhttp.responseText);
        if (xhttp.status == 201){
          if (res.fallen){
            alert('Würfel vom Tisch gefallen Schnapsrunde!');
          }else{
            soundEffect.src = "{{ url_for('static', filename = 'audio/wuerfeln.mp3')}}";
            soundEffect.play();

            if (dice1_cb){
              dice1_v.className = "spin animated"
              dice1_v.style.animation = 'none';
              dice1_v.offsetHeight; /* trigger reflow */
              dice1_v.style.animation = null;
            }
            if (dice2_cb){
              dice2_v.className = "spin animated"
              dice2_v.style.animation = 'none';
              dice2_v.offsetHeight; /* trigger reflow */
              dice2_v.style.animation = null;
            }
            if (dice3_cb){
              dice3_v.className = "spin animated"
              dice3_v.style.animation = 'none';
              dice3_v.offsetHeight; /* trigger reflow */
              dice3_v.style.animation = null;
            }
            dice1_v.innerHTML = '';
            dice2_v.innerHTML = '';
            dice3_v.innerHTML = '';
            dice1_v.appendChild(dicehelper(res.dice1));
            dice2_v.appendChild(dicehelper(res.dice2));
            dice3_v.appendChild(dicehelper(res.dice3));
            var anzahlel_first_mumber = document.getElementById('first_user_dice_count_id').innerHTML;
            var first_user_id = document.getElementById('first_user_id').innerHTML;
            var me = localStorage.getItem('id');

            if (first_user_id != me || res.number_dice == 3){
              if (String(res.number_dice) == anzahlel_first_mumber || first_user_id == me){
                if (dice1_cb){
                  dice1_v.style.display = "none";
                  dice1_v.style.animation = 'none';
                }
                if (dice2_cb){
                  dice2_v.style.display = "none";
                  dice2_v.style.animation = 'none';
                }
                if (dice3_cb){
                  dice3_v.style.display = "none";
                  dice3_v.style.animation = 'none';
                }


              }else{
                dice1_v.style.display = "block";
                dice2_v.style.display = "block";
                dice3_v.style.display = "block";
                if (res.dice1 == 6 && res.dice2 == 6 || res.dice1 == 6 && res.dice3 == 6 || res.dice2 == 6 && res.dice3 == 6){
                  v2_6er_button.hidden = false;
                }
                if (res.dice1 == 6 && res.dice2 == 6 && res.dice3 == 6){
                  v3_6er_button.hidden = false;
                }
              }
            }else{
              dice1_v.style.display = "block";
              dice2_v.style.display = "block";
              dice3_v.style.display = "block";
              if (res.dice1 == 6 && res.dice2 == 6 || res.dice1 == 6 && res.dice3 == 6 || res.dice2 == 6 && res.dice3 == 6){
                v2_6er_button.hidden = false;
              }
              if (res.dice1 == 6 && res.dice2 == 6 && res.dice3 == 6){
                v3_6er_button.hidden = false;
              }
            }
          }
        }else{
          alert(''+res.Message);
        }
      }
    }
    xhttp.send(JSON.stringify({dice1:dice1_cb, dice2:dice2_cb, dice3:dice3_cb}));
  }



  function dicehelper(eyes){
    switch (eyes) {
      case 1: {
        var div = document.createElement('div');
        div.className = 'dice dice-first-face'
        var span = document.createElement('span');
        span.className = 'dot'
        div.appendChild(span);
        return div
      }
      case 2: {
        var div = document.createElement('div');
        div.className = 'dice dice-second-face'
        var span = document.createElement('span');
        span.className = 'dot'
        var span2 = document.createElement('span');
        span2.className = 'dot'
        div.appendChild(span);
        div.appendChild(span2);
        return div
      }
      case 3: {
        var div = document.createElement('div');
        div.className = 'dice dice-third-face'
        var span = document.createElement('span');
        span.className = 'dot'
        var span2 = document.createElement('span');
        span2.className = 'dot'
        var span3 = document.createElement('span');
        span3.className = 'dot'
        div.appendChild(span);
        div.appendChild(span2);
        div.appendChild(span3);
        return div
      }
      case 4: {
        var div = document.createElement('div');
        div.className = 'dice dice-fourth-face'
        var divc1 = document.createElement('div');
        divc1.className = 'dice-column'
        var divc2 = document.createElement('div');
        divc2.className = 'dice-column'
        var span = document.createElement('span');
        span.className = 'dot'
        var span2 = document.createElement('span');
        span2.className = 'dot'
        var span3 = document.createElement('span');
        span3.className = 'dot'
        var span4 = document.createElement('span');
        span4.className = 'dot'
        divc1.appendChild(span);
        divc1.appendChild(span2);
        divc2.appendChild(span3);
        divc2.appendChild(span4);
        div.appendChild(divc1);
        div.appendChild(divc2);
        return div
      }
      case 5: {
        var div = document.createElement('div');
        div.className = 'dice dice-fifth-face'
        var divc1 = document.createElement('div');
        divc1.className = 'dice-column'
        var divc2 = document.createElement('div');
        divc2.className = 'dice-column'
        var divc3 = document.createElement('div');
        divc3.className = 'dice-column'
        var span = document.createElement('span');
        span.className = 'dot'
        var span2 = document.createElement('span');
        span2.className = 'dot'
        var span3 = document.createElement('span');
        span3.className = 'dot'
        var span4 = document.createElement('span');
        span4.className = 'dot'
        var span5 = document.createElement('span');
        span5.className = 'dot'
        divc1.appendChild(span);
        divc1.appendChild(span2);
        divc2.appendChild(span3);
        divc3.appendChild(span4);
        divc3.appendChild(span5);
        div.appendChild(divc1);
        div.appendChild(divc2);
        div.appendChild(divc3);
        return div
      }
      case 6: {
        var div = document.createElement('div');
        div.className = 'dice dice-fourth-face'
        var divc1 = document.createElement('div');
        divc1.className = 'dice-column'
        var divc2 = document.createElement('div');
        divc2.className = 'dice-column'
        var span = document.createElement('span');
        span.className = 'dot'
        var span2 = document.createElement('span');
        span2.className = 'dot'
        var span3 = document.createElement('span');
        span3.className = 'dot'
        var span4 = document.createElement('span');
        span4.className = 'dot'
        var span5 = document.createElement('span');
        span5.className = 'dot'
        var span6 = document.createElement('span');
        span6.className = 'dot'
        divc1.appendChild(span);
        divc1.appendChild(span2);
        divc1.appendChild(span3);
        divc2.appendChild(span4);
        divc2.appendChild(span5);
        divc2.appendChild(span6);

        div.appendChild(divc1);
        div.appendChild(divc2);
        return div
      }
      default:{
        var div = document.createElement('div');
        return div
      }
    }
  }

  function set_user_passiv(){
    var id = localStorage.getItem('id');
    var game = document.getElementById('UUID');
    var gameid = game.innerHTML;
    var userstateel = document.getElementById('setpassivid');
    var userstate = userstateel.checked;

    gameid = gameid.replace(/['"]+/g, '');
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/api/game/"+gameid+"/user/"+id+"/passiv");
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState == XMLHttpRequest.DONE) {
        var res=JSON.parse(xhttp.responseText);
        if (xhttp.status != 200){
          alert(''+res.Message);
        }
      }
    }
    xhttp.send(JSON.stringify({userstate:userstate}));
  }

  function finish(){
    var id = localStorage.getItem('id');
    var game = document.getElementById('UUID');
    var gameid = game.innerHTML;
    gameid = gameid.replace(/['"]+/g, '');
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/api/game/"+gameid+"/user/"+id+"/finisch");
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState == XMLHttpRequest.DONE) {
        var res=JSON.parse(xhttp.responseText);
        if (xhttp.status != 200){
          alert(''+res.Message);
        }
      }
    }
    xhttp.send(JSON.stringify({}));
  }

  function pullup(){
    var id = localStorage.getItem('id');
    var game = document.getElementById('UUID');
    var gameid = game.innerHTML;
    gameid = gameid.replace(/['"]+/g, '');
    var xhttp = new XMLHttpRequest();
    var dice1_v = document.getElementById('dice1_v');
    var dice2_v = document.getElementById('dice2_v');
    var dice3_v = document.getElementById('dice3_v');
    dice1_v.style.display = "block";
    dice2_v.style.display = "block";
    dice3_v.style.display = "block";
    xhttp.open("POST", "/api/game/"+gameid+"/user/"+id+"/visible");
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState == XMLHttpRequest.DONE) {
        var res=JSON.parse(xhttp.responseText);
        if (xhttp.status != 201){
          alert(''+res.Message);
        }
      }
    }
    xhttp.send(JSON.stringify({visible:true}));
  }

  function pulldown(){
    var id = localStorage.getItem('id');
    var game = document.getElementById('UUID');
    var gameid = game.innerHTML;
    gameid = gameid.replace(/['"]+/g, '');
    var dice1_v = document.getElementById('dice1_v');
    var dice2_v = document.getElementById('dice2_v');
    var dice3_v = document.getElementById('dice3_v');
    dice1_v.style.display = "none";
    dice2_v.style.display = "none";
    dice3_v.style.display = "none";
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/api/game/"+gameid+"/user/"+id+"/visible");
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState == XMLHttpRequest.DONE) {
        var res=JSON.parse(xhttp.responseText);
        if (xhttp.status != 201){
          alert(''+res.Message);
        }
      }
    }
    xhttp.send(JSON.stringify({visible:false}));
  }

  function turn(count){
    var dice1_cb = document.getElementById('dice1_cb');
    var dice2_cb = document.getElementById('dice2_cb');
    var dice3_cb = document.getElementById('dice3_cb');

    var dice1_v = document.getElementById('dice1_v');
    var dice2_v = document.getElementById('dice2_v');
    var dice3_v = document.getElementById('dice3_v');
    ///game/<gid>/user/<uid>/dice

    var game = document.getElementById('UUID');
    var gameid = game.innerHTML;
    gameid = gameid.replace(/['"]+/g, '');
    var id = localStorage.getItem('id');


    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/api/game/"+gameid+"/user/"+id+"/diceturn");
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState == XMLHttpRequest.DONE) {
        var res=JSON.parse(xhttp.responseText);
        if (xhttp.status == 201){
            dice1_v.innerHTML = '';
            dice2_v.innerHTML = '';
            dice3_v.innerHTML = '';
            if (res.dice1){
              dice1_v.appendChild(dicehelper(res.dice1));
            }else{
              dice1_cb.checked = true;
              dice1_cb.disabled = true;
            }
            if (res.dice2){
              dice2_v.appendChild(dicehelper(res.dice2));
            }else{
                dice2_cb.checked = true;
                dice2_cb.disabled = true;
            }
            if (res.dice3){
              dice3_v.appendChild(dicehelper(res.dice3));
            }else{
                dice3_cb.checked = true;
                dice3_cb.disabled = true;
            }
        }else{
          alert(''+res.Message);
        }
      }
    }
    xhttp.send(JSON.stringify({count:count}));
  }

  function turn1(){
    var count = 1;
    turn(count);
  }
  function turn2(){
    var count = 2;
    turn(count);
  }

  var sound_is_played_once = 0;
  function set_sound_play(val){
    sound_is_played_once = val
  }


  function startup(){
    faq();
    feedback();
    initial_game_data();
    var id = localStorage.getItem('id');
    var user = document.getElementById('ownuser');
    //var test = localStorage.getItem('name');
    user.innerHTML = "Spieler: "+localStorage.getItem('name');

    var admin_el = document.getElementById('admin_id');
    var admin_id = admin_el.innerHTML;
    if (id != admin_id){
      var x = document.getElementById("admin_interface");
      //Disable admin interface for none admins
      x.style.display = "none";
    }
    var game = document.getElementById('UUID');
    var gameid = game.innerHTML;
    gameid = gameid.replace(/['"]+/g, '');
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", "/api/game/"+gameid);
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState == XMLHttpRequest.DONE) {
        var res=JSON.parse(xhttp.responseText);
        if (xhttp.status == 200){
          var selecttionsource = document.getElementById('transfer_source_user');
          var selecttiontarget = document.getElementById('transfer_target');
          var delete_player = document.getElementById('select_delete_player')
          var choose_admin = document.getElementById('select_choose_admin')
          for (num in res.User) {
            var juser = res.User[num];
            var opt = document.createElement('option');
            opt.value = juser['Id'];
            opt.innerHTML = juser['Name'];
            selecttionsource.appendChild(opt);
            var opt2 = document.createElement('option');
            opt2.value = juser['Id'];
            opt2.innerHTML = juser['Name'];
            selecttiontarget.appendChild(opt2);
            var opt3 = document.createElement('option');
            opt3.value = juser['Id'];
            opt3.innerHTML = juser['Name'];
            delete_player.appendChild(opt3);
            var opt4 = document.createElement('option');
            opt4.value = juser['Id'];
            opt4.innerHTML = juser['Name'];
            choose_admin.appendChild(opt4);
          }
        }
      }
    }
    xhttp.send(JSON.stringify({}));
  }

  function refresh_game(game){
    var game_uuid = document.getElementById('UUID');
    var gameid = game_uuid.innerHTML;
    gameid = gameid.replace(/['"]+/g, '');
    var waiting_user_id = game.Move
    var waitinguserstorage = document.getElementById('waiting_id');
    var throwbutton = document.getElementById('startgame_id');
    //Admin GAme Info Half count
    var gamehalfs = game['Game_Half_Count'];
    var admininfo = document.getElementById('admin_inforamtion');
    admininfo.innerHTML = 'Admin gespielte Hälften: '+gamehalfs;
    var game_state = game['State'];
    if (game_state == 'waiting'){
      // Simulate an HTTP redirect:
      var getUrl = window.location;
      var baseUrl = getUrl .protocol + "//" + getUrl.host;
      window.location.replace(baseUrl+'/game_waiting/'+gameid);
    }
    //set stack Chips
    var stackchips = document.getElementById('StackChips_id');
    stackchips.innerHTML = 'Chips: '+ game.Stack
    var firstuser_id = game['First']
    var first_user_id_el = document.getElementById('first_user_id');
    first_user_id_el.innerHTML = firstuser_id;
    // set Game Message
    var el_message = document.getElementById('Message');
    if (game.Message){
      // Only animate once
      if (el_message.innerHTML != 'Nachricht: '+ game.Message){
        if (game.Message.includes("Chip(s) von") || game.Message.includes("Schockaus alle Chips an") || game.Message.includes("Chip(s) vom Stapel an") || game.Message.includes("hat das Finale verloren") || game.Message.includes("Finale wird gespielt")){
          document.getElementById("dice1_cb").checked = true;
          document.getElementById("dice2_cb").checked = true;
          document.getElementById("dice3_cb").checked = true;
        }
        if (game.Message.startsWith('Aufdecken')){
          soundEffect.src = "{{ url_for('static', filename = 'audio/hoch_die_Becher_Markus.mp3')}}";
          soundEffect.play();
        }
        el_message.className = "message"
        el_message.style.animation = 'none';
        el_message.offsetHeight; /* trigger reflow */
        el_message.style.animation = null;
      }
      el_message.innerHTML = 'Nachricht: '+ game.Message
    }else{
      el_message.innerHTML = ''
    }

    for (num in game.User) {
      var juser = game.User[num];
      // finale
      var row = document.getElementById('row'+juser['Id']);
      var str = 'chips'+juser['Id']
      var chips = document.getElementById('chips'+juser['Id']);
      chips.innerHTML = juser['Chips'];
      //set anzahl würfe
      if (juser['Id'] == firstuser_id){
        var anzahlel = document.getElementById('throw_id');
        var anzahl_number_el = document.getElementById('throw_number_id');
        anzahlel.innerHTML = 'Anzahl Würfe: '+juser['Number_Dice'];
        anzahl_number_el.innerHTML = juser['Number_Dice'];
        var row = document.getElementById('row'+juser['Id']);
        row.style.backgroundColor = "lightblue";
        var anzahlel_first_mumber = document.getElementById('first_user_dice_count_id');
        anzahlel_first_mumber.innerHTML = juser['Number_Dice'];
      }else{
        var row = document.getElementById('row'+juser['Id']);
        if (juser['Passive']){
          row.style.backgroundColor = "lightgray";
        }else{
          row.style.backgroundColor = "#11ffee00";
        }
      }

      var anzahluserel = document.getElementById('Number_Dice'+juser['Id']);
      anzahluserel.innerHTML = juser['Number_Dice'];

      if (game.Message){
        // sound whene i have to dice
        if (juser['Id'] == waiting_user_id){
          if (waitinguserstorage.innerHTML != 'Warten auf: '+juser['Name']){
            if (juser['Name'] == localStorage.getItem('name') && !game.Message.startsWith('Aufdecken')){
              soundEffect.src = "{{ url_for('static', filename = 'audio/wuerfelnYannick.mp3')}}";
              soundEffect.play();
            }
          }
          // set Waiting user Name
          waitinguserstorage.innerHTML = 'Warten auf: '+juser['Name'];
        }
      }else{
        if (juser['Id'] == waiting_user_id){
          // set Waiting user Name
          waitinguserstorage.innerHTML = 'Warten auf: '+juser['Name'];
        }
      }
      // me as user
      var id = localStorage.getItem('id');
      if (juser['Id'] == id){
        if (game.Stack == 0 && juser['Chips'] == 0 && game_state != 'playfinal'){
          var set_passiv_div_id = document.getElementById('set_passiv_div_id');
          set_passiv_div_id.style.display = "block";
        }else{
          var set_passiv_div_id = document.getElementById('set_passiv_div_id');
          set_passiv_div_id.style.display = "none";
          var setpassivid = document.getElementById('setpassivid');
          setpassivid.checked = false;
        }
      }
      // set button color
      if (id == waiting_user_id){
        throwbutton.className  = 'buttongreen containerturner';
      }else{
        throwbutton.className  = 'buttongray containerturner';
      }
      var userhalfs = juser['Halfcount']
      var userfirsthalfel = document.getElementById('first'+juser['Id']);
      userfirsthalfel.innerHTML = userhalfs;

      var userfinals = juser['Finalcount']
      var userfinalhalfel = document.getElementById('finalcount'+juser['Id']);
      if (userfinalhalfel){
        userfinalhalfel.innerHTML = userfinals;
      }

      // set dices
      var dice1_v = document.getElementById('dice1'+juser['Id']);
      var dice2_v = document.getElementById('dice2'+juser['Id']);
      var dice3_v = document.getElementById('dice3'+juser['Id']);
      if (juser.Dices){
        dice1_v.innerHTML = '';
        dice2_v.innerHTML = '';
        dice3_v.innerHTML = '';
        for (num in juser.Dices) {
          var jdice = juser.Dices[num];
          dice1_v.appendChild(dicehelper(jdice['Dice1']));
          dice2_v.appendChild(dicehelper(jdice['Dice2']));
          dice3_v.appendChild(dicehelper(jdice['Dice3']));
        }
      }else{
        dice1_v.innerHTML = '';
        dice2_v.innerHTML = '';
        dice3_v.innerHTML = '';
      }
    }

  }

  function initial_game_data(){
    var game = document.getElementById('UUID');
    var gameid = game.innerHTML;
    gameid = gameid.replace(/['"]+/g, '');
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", "/api/game/"+gameid);
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState == XMLHttpRequest.DONE) {
        if (xhttp.status == 200){
          var res=JSON.parse(xhttp.responseText);
          refresh_game(res);
        }
      }
    }
    xhttp.send(JSON.stringify({}));
  }
  const soundEffect = new Audio();
  startup()

</script>
<script type="text/javascript" charset="utf-8">
  // Use a "/game_waiting" namespace.
  // An application can open a connection on multiple namespaces, and
  // Socket.IO will multiplex all those connections on a single
  // physical channel. If you don't care about multiple channels, you
  // can set the namespace to an empty string.
  namespace = '/game';

  // Connect to the Socket.IO server.
  // The connection URL has the following format, relative to the current page:
  //     http[s]://<domain>:<port>[/<namespace>]
  // var socket = io(namespace);
  const socket = io(namespace, {
    reconnection: true,             // whether to reconnect automatically
    reconnectionAttempts: Infinity, // number of reconnection attempts before giving up
    reconnectionDelay: 1000,        // how long to initially wait before attempting a new reconnection
    reconnectionDelayMax: 5000,     // maximum amount of time to wait between reconnection attempts. Each attempt increases the reconnection delay by 2x along with a randomization factor
    randomizationFactor: 0.5
  });

  // Event handler for new connections.
  // The callback function is invoked when a connection with the
  // server is established.
  socket.on('connect', function() {
      var game = document.getElementById('UUID');
      var gameid = game.innerHTML;
      gameid = gameid.replace(/^"(.+)"$/,'$1');
      socket.emit('join', {room: gameid});
  });

  socket.on('reload_game', function(game) {
      if (game){
        refresh_game(game);
      }
  });
    /*
  window.on('beforeunload', function(){
    socket.close();
  });

  window.addEventListener('beforeunload', function (e) {
    socket.close();
});
*/


</script>
{% endblock %}
