{% extends "base.html" %}

{% block content %}
{{ super() }}
<div class=”main-container”>
  <section class="section_100">
    <main>
        <div class="header-img"></div>
    </main>
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <h1>Welcome to Tele-Schocken</h1>
      </div>
    </div>

    <div class="row ">
        <div class="col-md-5 col-md-offset-1">
          <div class="row">
            <div class="col-md-12">
              <h2>Spiel erzeugen</h2>
              <label for="adminname">Name</label>
              <input  type="text" id="adminname" value="">
              <button onclick="createGame()">Erzeugen</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <h2>Spiel beitreten</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-12">
                      <label for="UUID">Spiel ID</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <input  type="text" id="UUID" value="">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-12">
                      <label for="Name">Name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <input  type="text" id="Name" value="">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row" style="height:25px;">
                  </div>
                  <div class="row" >
                    <div class="col-md-12">
                      <button onclick="joinGame()">Beitreten</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <h3>Erläuterung:</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <ul>
                <li>Der Spieler, der das Spiel erzeugt ist auch die Bank und muss alle Chips verteilen</li>
                <li>Wenn ein Zug vor dem dritten Würfeln beendet werden soll, bitte "Ende" klicken</li>
                <li>Zu jeden Zeitpunkt kann auf bzw zu gedeckt werden.</li>
                <li>Rausgestellte Würfel sind aufgedeckt</li>
                <li>Der Spieler der bei einer Runde bereits gewonnen hat (0 Chips), muss jedes Mal auf "Ende" klicken wenn er dran wäre (ermöglicht wieder Einwerfen)</li>
                <li>Der Code ist frei verfügbar. Wenn euch das Spiel gefällt liked es auf Github. Wenn ihr Anregungen habt oder Fehler findet meldet dies auch via Github</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4><a href="https://github.com/Skill3t/Tele-Schocken">
              Github</a></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4><a href="https://www.abenteuerfreundschaft.de/schocken-wuerfel-trinkspiel/">
              Regeln</a></h4>
            </div>
          </div>
        </div>
    </div>
  </section>
</div>





{% block footer %}
{{ super() }}
{% endblock %}

{% endblock %}




{% block scripts %}
{{ super() }}
<script>

  function createGame(){
    var admin = document.getElementById('adminname');
    var adminname = admin.value;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/api/game");
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState == XMLHttpRequest.DONE) {
        var res=JSON.parse(xhttp.responseText);
        if (xhttp.status != 201){
          alert('Fehler beim erzeugen: '+res.Message);
          location=location;
        }else{
          localStorage.setItem('name', adminname);
          localStorage.setItem('id', res.Admin_Id);
          // Simulate a mouse click:
          window.location.href = "/game_waiting/"+res.UUID;
        }
      }
    }
    xhttp.send(JSON.stringify({name:adminname}));
  }
  function joinGame(){
    var user = document.getElementById('Name');
    var game = document.getElementById('UUID');
    var uuid = game.value;
    uuid = uuid.replace(/\s/g, '');
    var usernname = user.value;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/api/game/"+uuid+"/user");
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState == XMLHttpRequest.DONE) {
        var res=JSON.parse(xhttp.responseText);
        if (xhttp.status != 200){
          alert('Fehler beim erzeugen: '+res.Message);
          location=location;
        }else{
          localStorage.setItem('name', usernname);
          for (num in res.User) {
            var juser = res.User[num];
            var name = juser['Name'];
            if (name == usernname){
              localStorage.setItem('id', juser['Id']);
            }
          }
          var id = localStorage.getItem('id');
          window.location.href = "/game_waiting/"+uuid;
        }
      }
    }
    xhttp.send(JSON.stringify({name:usernname}));
  }


</script>
{% endblock %}
