<div class="row">
  <div class="col-md-9">
    <ul>
      <li>Der größte Spielspaß besteht am Tablet oder PC / Laptop.</li>
      <li>Der Spieler, der das Spiel erzeugt ist auch die Bank und muss alle Chips verteilen (Dies ermöglicht flexible Regeln)!</li>
      <li>Wenn ein Zug vor dem dritten Würfeln beendet werden soll, bitte "Ende" klicken</li>
      <li>Zu jeden Zeitpunkt kann auf bzw. zu gedeckt werden.</li>
      <li>Rausgestellte Würfel sind aufgedeckt.</li>
      <li>Beim online Schocken wird die erste und zweite Hälfte nicht mehr ausgespielt (Wartezeit für die restlichen Spieler zu groß). Es werden stattdessen die Hälften gezählt</li>
      <li>Der Spieler der bei einer Runde bereits gewonnen hat (0 Chips), muss jedes Mal auf "Ende" klicken wenn er dran wäre (ermöglicht wieder Einwerfen).</li>
      <li>Der Code ist frei verfügbar. Wenn euch das Spiel gefällt liked es auf Github. Wenn ihr Anregungen habt oder Fehler findet meldet dies auch via Github.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h4><a target="_blank" href="https://github.com/Skill3t/Tele-Schocken">
    Github</a></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h4><a target="_blank" href="https://www.abenteuerfreundschaft.de/schocken-wuerfel-trinkspiel/">
    Regeln</a></h4>
  </div>
</div>
